
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo del encabezado */
header {
    background: #6264f7;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #6d6a6a;
}

/* Estilo de las secciones */
.seccion {
    background: white;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo especial para la sección 3 */
.seccion.especial {
    background: #e0f7fa;
    border-color: #00695c;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background: #6264f7;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
    